---
layout: single
title: Balance of Payment - Test run
tagline: Teaching case - test run
excerpt: A test run of a teaching case that introduces international trade and
  balance of payment.
date: 2021-01-25T02:14:44.175Z
header:
  actions:
    - label: Read More
      url: "#"
gallery:
  - url: /assets/images/{filename}
tags:
  - others
categories:
  - ASC
toc: false
---
a