---
layout: single
title: Unilateral Trade - Test run
tagline: Teaching case - test run
excerpt: The test run for our teaching case - Unilateral Trade - has been
  conducted successfully.
date: 2021-03-01T05:58:25.884Z
header:
  actions:
    - label: Read More
      url: "#"
  overlay_image: /assets/images/ut_header.png
gallery:
  - url: /assets/images/ut_student_helper.JPG
    image_path: /assets/images/ut_student_helper.jpg
    title: Our student helper illustrating the game
    alt: NA
  - url: /assets/images/ut_1.JPG
    image_path: /assets/images/ut_1.jpg
    alt: Not available.
    title: Participants
  - url: /assets/images/ut_2.JPG
    image_path: /assets/images/ut_2.jpg
    title: Participants
    alt: Not available.
  - url: /assets/images/ut_4.JPG
    image_path: /assets/images/ut_4.jpg
    title: Participants
    alt: Not available.
tags:
  - Unilateral Trade
  - Teaching cases
  - test run
categories:
  - APEC Study Centre
  - Human Capital Development
toc: false
---
A