---
layout: single
title: Balance of Payment - Test run
tagline: Teaching case - test run
excerpt: A test run of a teaching case that introduces international trade and
  balance of payment.
date: 2021-01-25T02:14:44.175Z
header:
  actions:
    - label: Read More
      url: "#"
  overlay_image: /assets/images/bop_head.jpg
  overlay_filter: 0.5
gallery:
  - url: /assets/images/bop_helper.jpg
    image_path: /assets/images/bop_helper.jpg
    alt: Not available.
    title: Our student helpers
  - url: /assets/images/bop3.jpg
    image_path: /assets/images/bop3.jpg
    alt: Not available.
    title: Participants
  - url: /assets/images/bop2.jpg
    image_path: /assets/images/bop2.jpg
    alt: Not available.
    title: Participants
tags:
  - teaching cases
  - test run
  - Balance of Payment
categories:
  - APEC Study Centre
  - Human Capital Development
toc: false
---
On the last Saturday (23 Jan 2020), we have successfully tested our teaching case - *Balance of Payment*. The aim of this test run is to examine whether our game design of this teaching case is effective to deliver the message behind.

*Balance of Payment* is a teaching case that introduces *Current Account* and *Capital Account*. *Current Account* refers to the trade of goods and services, and *Capital Account* refers to the exchange of money and certificates. In international trade, these two accounts are balanced in nature. If we have a trade surplus (Exports > Imports, *Current Account* deficit), it means simultaneously we have capital inflow (*Capital Account* surplus). It is because we sell more of our goods and services to other countries (deduction in *Current Account*), but we earn more money from selling these goods and services (gain in *Capital Account*). No matter how many trades we will have, the values of these two accounts should be the same. Thus, it is called *Balance of Payment*.

We recruited several students from other departments of CUHK to participate in this test run. With explanations after the game, the participants successfully understood the intuition of this teaching case. They have provided invaluable experiences and suggestions for our further development of the game design afterwards.

We would like to appreciate all the works of our student helpers, the participations and suggestions of the subjects.

{% include gallery caption='Selected photos of test run' %}