---
layout: single
title: Unilateral Trade - Test run
tagline: Teaching case - test run
excerpt: The test run for our teaching case - Unilateral Trade - has been
  conducted successfully.
date: 2021-03-01T05:58:25.884Z
header:
  actions:
    - label: Read More
      url: "#"
  overlay_image: /assets/images/ut_header.png
  overlay_filter: 0.5
gallery:
  - url: /assets/images/ut_student_helper.JPG
    image_path: /assets/images/ut_student_helper.jpg
    title: Our student helper illustrating the game
    alt: NA
  - url: /assets/images/ut_1.JPG
    image_path: /assets/images/ut_1.jpg
    alt: Not available.
    title: Participants
  - url: /assets/images/ut_2.JPG
    image_path: /assets/images/ut_2.jpg
    title: Participants
    alt: Not available.
  - url: /assets/images/ut_4.JPG
    image_path: /assets/images/ut_4.jpg
    title: Participants
    alt: Not available.
tags:
  - Unilateral Trade
  - Teaching cases
  - test run
categories:
  - APEC Study Centre
  - Human Capital Development
toc: false
---
Our student helper team has conducted a test run on their game -- Unilateral Trade -- on the last Saturday, 27 February 2021. The test run was to examine the game design and whether the messages behind can be effectively delivered. 

Unilateral Trade is a teaching case for promoting trade liberalisation. When it comes to international trade, in Economics perspective, trade liberalisation is a more effective and efficient policy than imposing tariff or quota. Having any kinds of trade barrier would eventually harm society. Thus, in most of the cases, economists prefer liberalisation on trade to trade barriers. The student helpers designed the game based on these concepts.

The game ran smoothly and the participants actively interacted with each other during the game. The participants were recruited from CUHK. Most of them have not learnt Economics before. With the explanations of concepts after the game, the participants fully understood the intuition of this teaching case. They have also provided invaluable experiences and suggestions for our further development of the game design afterwards.

We would like to appreciate all the works of our student helpers, the participations and suggestions of the subjects.

{% include gallery caption='Selected photos of test run' %}