---
layout: single
title: Unilateral Trade - Test run
tagline: Teaching case - test run
excerpt: The test run for our teaching case - Unilateral Trade - has been
  conducted successfully.
date: 2021-03-01T05:58:25.884Z
header:
  actions:
    - label: Read More
      url: "#"
  overlay_image: /assets/images/ut_header.png
gallery:
  - url: /assets/images/{filename}
tags:
  - others
categories:
  - ASC
toc: false
---
A