---
layout: single
title: Balance of Payment - Test run
tagline: Teaching case - test run
excerpt: A test run of a teaching case that introduces international trade and
  balance of payment.
date: 2021-01-25T02:14:44.175Z
header:
  actions: []
  overlay_image: /assets/images/bop_head.jpg
  overlay_filter: 0.5
gallery:
  - url: /assets/images/bop_helper.jpg
    image_path: /assets/images/bop_helper.jpg
    alt: Not available.
    title: Our student helpers
tags:
  - others
categories:
  - ASC
toc: false
---
a